<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script>
      var status = `<%- JSON.stringify(status) %>`;
      //   console.log(status);
      if (JSON.parse(status) === "password updated") {
        if (confirm("Password changed! Do you want to login?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <h1><%= email %></h1>
    <form action="" method="post">
      <input type="password" name="password" placeholder="Password" id="password" />
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirm-password"
        id="confirm-password"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
