<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form action="" method="post">
      <div class="flex h-screen items-center justify-center">
        <!-- Login Container -->
        <div class="min-w-fit flex-col rounded-[4px] border bg-white px-6 py-14 shadow-md">
          <div class="mb-5 mt-5 flex w-full text-center text-sm text-gray-400">
            <p class="w-full">
              <span>Your email is:</span>
              <span class="font-bold"> <%= email %></span> <br />
              <span>Change Password</span> <br />
            </p>
          </div>

          <div class="mb-8 flex justify-center">
            <img class="w-24" src="/images/logo-ximi.png" alt="" />
          </div>
          <div class="flex flex-col rounded-md text-sm">
            <input
              class="mb-5 rounded-[4px] border p-3 hover:border-red-500 hover:outline-none focus:outline-none"
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
            <input
              class="rounded-[4px] border p-3 hover:border-red-500 hover:outline-none focus:outline-none"
              type="password"
              name="confirmedPassword"
              id="confirmedPassword"
              placeholder="Confirm Password"
            />
          </div>
          <button
            class="hover:bg-black-400 mt-5 w-full scale-105 rounded-[4px] border bg-red-500 bg-gradient-to-r from-red-800 p-2 text-white duration-300"
            type="submit"
          >
            Change Password
          </button>

          <% if(typeof alert != 'undefined') { %> <% alert.forEach(function(error) { %>
          <div class="mt-2 rounded-xl bg-red-300 px-4 py-2 font-bold text-white">
            <%= error.msg %>
          </div>
          <% }) %> <% } %>

          <div class="mt-4 flex items-center justify-center">
            <div id="setstatus" class="active"></div>
            <div id="buttonadd"></div>
          </div>
        </div>
      </div>
    </form>
  </body>

  <script>
    var status = `<%- JSON.stringify(status) %>`;
    var linkToRedirect = `<%- JSON.stringify(redirectLink) %>`;

    if (JSON.parse(status) === "password updated") {
      const statusMessage = document.getElementById("setstatus");
      statusMessage.innerHTML = "Password changed! Do you want to";
      const addClasses = document.querySelector("div.active");
      addClasses.classList.add("text-black");
      // console.log(addClasses.className);

      const buttonCreate = document.getElementById("buttonadd");
      let btn = document.createElement("button");
      btn.innerHTML = "Sign In";
      btn.type = "button";
      btn.classList.add("pl-2", "font-bold", "text-green-700", "hover:text-red-700");
      btn.addEventListener("click", function () {
        window.location.href = JSON.parse(linkToRedirect);
      });
      buttonCreate.appendChild(btn);
    }
  </script>
</html>
