@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Roboto";
  src: url('fonts/eot/Roboto-Regular.eot');
  src: url('fonts/eot/Roboto-Regular.eot') format('embedded-opentype'),
       url('fonts/woff2/Roboto-Regular.woff2') format('woff2'),
       url('fonts/woff/Roboto-Regular.woff') format('woff'),
       url('fonts/ttf/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/eot/Roboto-Medium.eot');
  src: url('fonts/eot/Roboto-Medium.eot') format('embedded-opentype'),
       url('fonts/woff2/Roboto-Medium.woff2') format('woff2'),
       url('fonts/woff/Roboto-Medium.woff') format('woff'),
       url('fonts/ttf/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Roboto";
  src: url('fonts/eot/Roboto-Bold.eot');
  src: url('fonts/eot/Roboto-Bold.eot') format('embedded-opentype'),
       url('fonts/woff2/Roboto-Bold.woff2') format('woff2'),
       url('fonts/woff/Roboto-Bold.woff') format('woff'),
       url('fonts/ttf/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  user-select: none;
}

.paper-bg{
  background-image: url("../src/images/bg-logo2.png");
background-repeat: no-repeat;
background-position:center center;
background-size: cover;
}


/**
  * Arc
  *
  * @author jh3y - jheytompkins.com
*/
.arc:before {
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border-radius: 100%;
  border-top: 6px solid var(--primary, #EF4444);
  content: "";
  display: block;
  height: 50px;
  width: 50px;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}